.body {
margin-right: 100px;
font-family: 'Montserrat', sans-serif;
}

.container {
margin: 0px 166px;
}

.header {
position: relative;
width: 1400px;
height: 1657px;
background: #F3F3F3;
}
.header-title {
position: absolute;
width: 443px;
height: 85px;
left: 479px;
top: 72px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 85px;
text-transform: uppercase;

color: #0068FF;
}

.header-subtitle {
position: absolute;
width: 845px;
height: 22px;
left: 278px;
top: 189px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 22px;

text-transform: uppercase;

color: #0068FF;
}

.title{
position: absolute;
width: 580px;
height: 84px;
left: 120px;
top: 291px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 42px;

color: #0068FF;
}

.subtitle{
position: absolute;
width: 805px;
height: 42px;
left: 120px;
top: 417px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 42px;

color: #1A2807;
}

.suptitle{
position: absolute;
width: 1133px;
height: 254px;
left: 120px;
top: 541px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 42px;

color: #0068FF;
}

.text{
position: absolute;
width: 191px;
height: 42px;
left: 120px;
top: 501px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 42px;

text-transform: uppercase;

color: #0068FF;
}

.sup{
position: absolute;
width: 513px;
height: 42px;
left: 120px;
top: 795px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 42px;

color: #1A2807;
}

.s {
position: absolute;
width: 269px;
height: 42px;
left: 120px;
top: 877px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 42px;

color: #0068FF;
}
