.body {
margin-right: 0;
font-family: 'Montserrat', sans-serif;
}

.container {
margin: 0px 180px;
}

.header {
position: relative;
width: 1400px;
height: 2106px;

background: #F1F1F1;
}


.header-logo {
position: absolute;
width: 103px;
height: 30px;
left: 220px;
top: 42px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 30px;

text-transform: lowercase;

color: #000000;
}

.nav-racion {
position: absolute;
width: 67px;
height: 17px;
left: 523px;
top: 46px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

text-transform: uppercase;

color: #000000;
}

.nav-rabota {
position: absolute;
width: 155px;
height: 17px;
left: 643px;
top: 46px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

text-transform: uppercase;

color: #000000;
}

.nav-podobrat{
position: absolute;
width: 164px;
height: 17px;
left: 841px;
top: 46px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

text-transform: uppercase;

color: #000000;
}

.basket{
position: realitive;
}

.basket-img {
position: absolute;
width: 20px;
height: 22.5px;
left: 1051px;
top: 46px;
}

.header-down{
position: realitive;
}

.header-title {
position: absolute;
width: 352px;
height: 89px;
left: 220px;
top: 190px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 65px;
line-height: 89px;

text-transform: uppercase;

color: #000000;
}

.header-subtitle {
position: absolute;
width: 308px;
height: 89px;
left: 220px;
top: 260px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 65px;
line-height: 89px;

text-transform: uppercase;

color: #000000;
}

.header-suptitle {
position: absolute;
width: 189px;
height: 44px;
left: 220px;
top: 361px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;

text-transform: uppercase;

color: #000000;
}



.header-bth{
position: absolute;
width: 160px;
height: 40px;
left: 220px;
top: 417px;
}

.header-button {
position: absolute;
width: 112px;
height: 22px;
left: 248px;
top: 426px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;

color: #FFFFFF;
}






.header-title2 {
position: absolute;
width: 453px;
height: 75px;
left: 220px;
top: 561px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 55px;
line-height: 75px;


color: #000000;
}

.card-subtitle {
position: absolute;
width: 334px;
height: 75px;
left: 220px;
top: 615px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 55px;
line-height: 75px;

color: #000000;
}


.card-title {
position: absolute;
width: 84px;
height: 68px;
left: 208px;
top: 758px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 68px;


color: #AAAAAA;
}

.card-desc{
position: absolute;
width: 191px;
height: 69px;
left: 208px;
top: 823px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 28px;
/* or 238% */

text-transform: uppercase;

color: #CACACA;
}


.card-variant{
position: absolute;
width: 44px;
height: 44px;
left: 420px;
top: 822px;
border-radius: 30px;

background: #636569;
box-shadow: 0px 5px 20px rgba(174, 208, 102, 0.4);
}

.ellipse-life {
position: absolute;
width: 9px;
height: 22px;
left: 438px;
top: 833px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;


color: #FFFFFF;
}

.var-desc {
position: absolute;
width: 47px;
height: 22px;
left: 418px;
top: 866px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 22px;

color: #AFAFAF;
}


.rectangle2 {
position: absolute;
width: 317px;
height: 190px;
left: 540px;
top: 733px;
border-radius: 30px;

background: #FFFFFF;
}

.card-variant2 {
position: absolute;
width: 44px;
height: 44px;
left: 780px;
top: 822px;


background: #636569;
box-shadow: 0px 5px 20px rgba(174, 208, 102, 0.4);

border-radius: 30px;
}

.ellipse-health {
position: absolute;
width: 9px;
height: 16px;
left: 798px;
top: 833px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;


color: #FFFFFF;
}

.var-desc2 {
position: absolute;
width: 47px;
height: 22px;
left: 778px;
top: 866px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 22px;

color: #AFAFAF;
}

.card-title2 {
position: absolute;
width: 178px;
height: 39px;
left: 560px;
top: 780px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 22px;


color: #AAAAAA;
}

.card-desc2 {
position: absolute;
width: 209px;
height: 69px;
left: 560px;
top: 822px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 28px;

text-transform: uppercase;

color: #CACACA;
}


.rectangle3 {
position: absolute;
width: 317px;
height: 190px;
left: 902px;
top: 733px;
border-radius: 30px;

background: #FFFFFF;
}

.card-variant3 {
position: absolute;
width: 44px;
height: 44px;
left: 1155px;
top: 824px;
border-radius: 30px;

background: #636569;
box-shadow: 0px 5px 20px rgba(174, 208, 102, 0.4);
}

.ellipse-personal{
position: absolute;
width: 15px;
height: 22px;
left: 1170px;
top: 832px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;

color: #FFFFFF;
}

.var-desc3{
position: absolute;
width: 47px;
height: 22px;
left: 1153px;
top: 868px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 22px;

color: #AFAFAF;
}

.card-title3{
position: absolute;
width: 204px;
height: 68px;
left: 930px;
top: 752px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 68px;

color: #AAAAAA;
}

.card-desc3{
position: absolute;
width: 234px;
height: 69px;
left: 930px;
top: 817px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 28px;

text-transform: uppercase;

color: #CACACA;
}



.header-title3{
position: absolute;
width: 190px;
height: 75px;
left: 420px;
top: 1043px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 55px;
line-height: 75px;

color: #000000;
}

.delivery-subtitle {
position: absolute;
width: 282px;
height: 75px;
left: 420px;
top: 1094px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 55px;
line-height: 75px;

color: #000000;
}

.vector{
position: absolute;
width: 960px;
height: 0px;
left: 207px;
top: 1246px;

border: 0.7px solid #AFAFAF;
transform: rotate(-0.03deg);
}

.ellipse-big{
position: absolute;
width: 20px;
height: 20px;
left: 197px;
top: 1236px;
border-radius: 50%;

background: #636569;
opacity: 0.15;
}

.ellipse-small{
position: absolute;
width: 4px;
height: 4px;
left: 205px;
top: 1244px;

background: #AFAFAF;

border-radius: 50%;
}

.ellipse-big2{
position: absolute;
width: 20px;
height: 20px;
left: 566px;
top: 1236px;

background: #636569;
opacity: 0.15;
border-radius: 50%;
}

.ellipse-small2{
position: absolute;
width: 4px;
height: 4px;
left: 574px;
top: 1244px;

background: #AFAFAF;
border-radius: 50%;
}

.ellipse-big3{
position: absolute;
width: 20px;
height: 20px;
left: 941px;
top: 1236px;

background: #636569;
opacity: 0.15;

border-radius: 50%;
}

.ellipse-small3{
position: absolute;
width: 4px;
height: 4px;
left: 949px;
top: 1244px;

background: #AFAFAF;

border-radius: 50%;
}


.delivery-suptitle{
position: absolute;
width: 164px;
height: 22px;
left: 205px;
top: 1277px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;

color: #AAAAAA;
}

.delivery-desc{
position: absolute;
width: 248px;
height: 88px;
left: 206px;
top: 1328px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;

text-transform: uppercase;

color: #9F9F9F;
}

.delivery-suptitle2 {
position: absolute;
width: 180px;
height: 22px;
left: 566px;
top: 1277px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;

color: #AAAAAA;
}

.delivery-desc2 {
position: absolute;
width: 225px;
height: 88px;
left: 567px;
top: 1328px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;

text-transform: uppercase;

color: #9F9F9F;
}

.delivery-suptitle3 {
position: absolute;
width: 278px;
height: 22px;
left: 941px;
top: 1277px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;

color: #AAAAAA;
}

.delivery-desc3 {
position: absolute;
width: 235px;
height: 88px;
left: 941px;
top: 1328px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;

text-transform: uppercase;

color: #9F9F9F;
}




.rectangle-form{
position: absolute;
width: 800px;
height: 400px;
left: 300px;
top: 1514px;

background: #FFFFFF;
border-radius: 30px;
}

.form-subtitle{
position: absolute;
width: 434px;
height: 48px;
left: 354px;
top: 1558px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 48px;

color: #000000;
}

.form-suptitle{
position: absolute;
width: 278px;
height: 66px;
left: 355px;
top: 1615px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;

color: #9F9F9F;
}

.form-rectangle{
position: absolute;
width: 260px;
height: 40px;
left: 354px;
top: 1714px;

background: #F1F1F1;
box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.06);
border-radius: 30px;
}

.rectangle-desc{
position: absolute;
width: 59px;
height: 22px;
left: 376px;
top: 1723px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;

color: #AFAFAF;
}

.form-rectangle2{
position: absolute;
width: 260px;
height: 40px;
left: 354px;
top: 1768px;

background: #F1F1F1;
box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.06);
border-radius: 30px;
}

.rectangle-desc2{
position: absolute;
width: 66px;
height: 22px;
left: 376px;
top: 1777px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;

color: #AFAFAF;
}

.form-button{
position: absolute;
Width: 180px;
Height: 40px;

background: #636569;

left: 354px;
top: 1822px;

box-shadow: 0px 10px 40px rgba(174, 208, 102, 0.4);
border-radius: 30px;
}

.subtitle-button{
position: absolute;
left: 386px;
top: 1830px;


font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;


color: #FFFFFF;
}

.desc-button{
position: absolute;
width: 212px;
height: 30px;
left: 550px;
top: 1827px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;

color: #AFAFAF;
}

.colortext{
color: #67734D;
}
