.body {
margin-right: 0;
font-family: 'Montserrat', sans-serif;
}

.container {
margin: 0px 180px;
}

.header {
position: relative;
width: 1400px;
height: 2106px;

background: #FFFFFF;
}


.header-logo {
position: absolute;
width: 103px;
height: 30px;
left: 220px;
top: 42px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 30px;

text-transform: lowercase;

color: #000000;
}

.nav-racion {
position: absolute;
width: 67px;
height: 17px;
left: 523px;
top: 46px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

text-transform: uppercase;

color: #000000;
}

.nav-rabota {
position: absolute;
width: 155px;
height: 17px;
left: 643px;
top: 46px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

text-transform: uppercase;

color: #000000;
}

.nav-podobrat{
position: absolute;
width: 164px;
height: 17px;
left: 841px;
top: 46px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

text-transform: uppercase;

color: #000000;
}

.basket{
position: realitive;
}

.basket-img {
position: absolute;
width: 20px;
height: 22.5px;
left: 1051px;
top: 46px;
}

.header-down{
position: realitive;
}

.header-title {
position: absolute;
width: 352px;
height: 89px;
left: 220px;
top: 190px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 65px;
line-height: 89px;

text-transform: uppercase;

color: #000000;
}

.header-subtitle {
position: absolute;
width: 308px;
height: 89px;
left: 220px;
top: 260px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 65px;
line-height: 89px;

text-transform: uppercase;

color: #000000;
}

.header-suptitle {
position: absolute;
width: 189px;
height: 44px;
left: 220px;
top: 361px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;

text-transform: uppercase;

color: #000000;
}

.header-bth{
position: absolute;
width: 160px;
height: 40px;
left: 220px;
top: 417px;

background: #000000;
}

.header-button {
position: absolute;
width: 112px;
height: 22px;
left: 25px;
top: 8px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;

color: #FFFFFF;
}






.header-title2 {
position: absolute;
width: 453px;
height: 75px;
left: 220px;
top: 561px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 55px;
line-height: 75px;

color: #000000;
}

.card-subtitle {
position: absolute;
width: 334px;
height: 75px;
left: 220px;
top: 615px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 55px;
line-height: 75px;

color: #000000;
}



.card-title {
position: absolute;
width: 84px;
height: 68px;
left: 220px;
top: 758px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 68px;

color: #000000;
}

.card-desc{
position: absolute;
width: 191px;
height: 69px;
left: 220px;
top: 823px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 28px;

text-transform: uppercase;

color: #000000;
}


.card-variant{
position: absolute;
width: 44px;
height: 44px;
left: 432px;
top: 823px;

border-radius: 30px;
background: #000000;

}

.ellipse-life {
position: absolute;
width: 9px;
height: 22px;
left: 450px;
top: 834px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;

color: #FFFFFF;
}

.var-desc {
position: absolute;
width: 47px;
height: 22px;
left: 430px;
top: 867px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 22px;

color: #000000;
}



.card-variant2 {
position: absolute;
width: 44px;
height: 44px;
left: 740px;
top: 822px;

border-radius: 30px;
background: #000000;
}

.ellipse-health {
position: absolute;
width: 9px;
height: 16px;
left: 758px;
top: 833px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;

color: #FFFFFF;
}

.var-desc2 {
position: absolute;
width: 47px;
height: 22px;
left: 738px;
top: 866px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 22px;

color: #000000;
}

.card-title2 {
position: absolute;
width: 178px;
height: 39px;
left: 520px;
top: 780px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 22px;


color: #000000;
}

.card-desc2 {
position: absolute;
width: 209px;
height: 69px;
left: 520px;
top: 822px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 28px;

text-transform: uppercase;

color: #000000;
}


.card-variant3 {
position: absolute;
width: 44px;
height: 44px;
left: 1045px;
top: 824px;

background: #000000;

border-radius: 30px;
}

.ellipse-personal{
position: absolute;
width: 15px;
height: 22px;
left: 1060px;
top: 833px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;

color: #FFFFFF;
}

.var-desc3{
position: absolute;
width: 47px;
height: 22px;
left: 1043px;
top: 868px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 22px;

color: #000000;
}

.card-title3{
position: absolute;
width: 204px;
height: 68px;
left: 820px;
top: 752px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 68px;

color: #000000;
}

.card-desc3{
position: absolute;
width: 234px;
height: 69px;
left: 820px;
top: 817px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 28px;

text-transform: uppercase;

color: #000000;
}



.header-title3{
position: absolute;
width: 190px;
height: 75px;
left: 220px;
top: 1043px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 55px;
line-height: 75px;

color: #000000;
}

.delivery-subtitle {
position: absolute;
width: 282px;
height: 75px;
left: 220px;
top: 1094px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 55px;
line-height: 75px;

color: #000000;
}


.delivery-suptitle{
position: absolute;
width: 164px;
height: 22px;
left: 221px;
top: 1191px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;

color: #000000;
}

.delivery-desc{
position: absolute;
width: 248px;
height: 88px;
left: 222px;
top: 1242px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;

text-transform: uppercase;

color: #000000;
}

.delivery-suptitle2 {
position: absolute;
width: 180px;
height: 22px;
left: 582px;
top: 1191px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;

color: #000000;
}

.delivery-desc2 {
position: absolute;
width: 225px;
height: 88px;
left: 583px;
top: 1242px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;

text-transform: uppercase;

color: #000000;
}

.delivery-suptitle3 {
position: absolute;
width: 278px;
height: 22px;
left: 957px;
top: 1191px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;

color: #000000;
}

.delivery-desc3 {
position: absolute;
width: 235px;
height: 88px;
left: 957px;
top: 1242px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;

text-transform: uppercase;

color: #000000;
}





.form-subtitle{
position: absolute;
width: 434px;
height: 48px;
left: 483px;
top: 1558px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 48px;

color: #000000;
}

.form-suptitle{
position: absolute;
width: 278px;
height: 66px;
left: 484px;
top: 1615px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;

color: #000000;
}

.form-rectangle{
position: absolute;
width: 260px;
height: 40px;
left: 484px;
top: 1702px;

background: #F1F1F1;
border-radius: 30px;
}

.rectangle-desc{
position: absolute;
width: 59px;
height: 22px;
left: 506px;
top: 1711px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;

color: #000000;
}

.form-rectangle2{
position: absolute;
width: 260px;
height: 40px;
left: 484px;
top: 1756px;

background: #F1F1F1;
box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.06);
border-radius: 30px;
}

.rectangle-desc2{
position: absolute;
width: 66px;
height: 22px;
left: 506px;
top: 1765px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;

color: #000000;
}

.form-button{
position: absolute;
width: 160px;
height: 40px;
left: 483px;
top: 1818px;

background: #000000;
}

.subtitle-button{
position: absolute;
width: 112px;
height: 22px;
left: 507px;
top: 1827px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;

color: #FFFFFF;
}

.desc-button{
position: absolute;
width: 212px;
height: 30px;
left: 680px;
top: 1827px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;

color: #AFAFAF;
}

.colortext{
color: #000000;
}
