.body {
margin-right: 0;
font-family: 'Montserrat', sans-serif;
}

.container {
margin: 0px 180px;
}

.header {
position: relative;
width: 1400px;
height: 1657px;

background: #FFFFFF;
}


.header-logo {
position: absolute;
width: 88px;
height: 25px;
left: 220px;
top: 42px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 25px;
text-transform: lowercase;

color: #000000;
}

.nav-racion {
position: absolute;
width: 57px;
height: 16px;
left: 523px;
top: 50px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

text-transform: uppercase;

color: #000000;
}

.nav-rabota {
position: absolute;
width: 140px;
height: 16px;
left: 643px;
top: 50px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

text-transform: uppercase;

color: #000000;
}

.nav-podobrat{
position: absolute;
width: 139px;
height: 16px;
left: 841px;
top: 50px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

text-transform: uppercase;

color: #000000;
}

.basket{
position: realitive;
}

.basket-img {
position: absolute;
width: 20px;
height: 22.5px;
left: 1051px;
top: 50px;
}

.header-down{
position: realitive;
}

.header-title {
position: absolute;
width: 662px;
height: 75px;
left: 120px;
top: 111px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 65px;
line-height: 75px;

text-transform: uppercase;

color: #000000;
}

.header-suptitle {
position: absolute;
width: 353px;
height: 22px;
left: 120px;
top: 199px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
text-transform: uppercase;

color: #000000;
}

.header-button {
position: absolute;
width: 112px;
height: 22px;
left: 120px;
top: 249px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;

color: #000000;
}






.header-title2 {
position: absolute;
width: 824px;
height: 63px;
left: 120px;
top: 334px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 55px;
line-height: 63px;

color: #000000;
}



.card-title {
position: absolute;
width: 84px;
height: 57px;
left: 120px;
top: 431px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 57px;

color: #000000;
}

.card-desc{
position: absolute;
width: 459px;
height: 29px;
left: 120px;
top: 496px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 28px;
/* identical to box height, or 238% */

text-transform: uppercase;

color: #000000;
}


.ellipse-life {
position: absolute;
width: 7px;
height: 22px;
left: 620px;
top: 477px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;

color: #000000;
}

.var-desc {
position: absolute;
width: 39px;
height: 22px;
left: 604px;
top: 500px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 22px;

color: #000000;
}




.ellipse-health {
position: absolute;
width: 9px;
height: 16px;
left: 596px;
top: 605px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;

color: #000000;
}

.var-desc2 {
position: absolute;
width: 39px;
height: 22px;
left: 581px;
top: 622px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 22px;

color: #000000;
}

.card-title2 {
position: absolute;
width: 134px;
height: 22px;
left: 120px;
top: 578px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 22px;

color: #000000;
}

.card-desc2 {
position: absolute;
width: 448px;
height: 29px;
left: 120px;
top: 620px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 28px;

text-transform: uppercase;

color: #000000;
}



.ellipse-personal{
position: absolute;
width: 15px;
height: 22px;
left: 697px;
top: 757px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;

color: #000000;
}

.var-desc3{
position: absolute;
width: 39px;
height: 22px;
left: 685px;
top: 775px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 22px;

color: #000000;
}

.card-title3{
position: absolute;
width: 173px;
height: 57px;
left: 120px;
top: 702px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 57px;

color: #000000;
}

.card-desc3{
position: absolute;
width: 545px;
height: 29px;
left: 120px;
top: 767px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 28px;

text-transform: uppercase;

color: #000000;
}



.header-title3{
position: absolute;
width: 426px;
height: 63px;
left: 123px;
top: 860px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 55px;
line-height: 63px;

color: #000000;
}


.delivery-suptitle{
position: absolute;
width: 144px;
height: 22px;
left: 123px;
top: 958px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;

color: #000000;
}

.delivery-desc{
position: absolute;
width: 756px;
height: 22px;
left: 124px;
top: 1009px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;

text-transform: uppercase;

color: #000000;
}

.delivery-suptitle2 {
position: absolute;
width: 159px;
height: 22px;
left: 120px;
top: 1084px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;

color: #000000;
}

.delivery-desc2 {
position: absolute;
width: 571px;
height: 22px;
left: 121px;
top: 1135px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;

text-transform: uppercase;

color: #000000;
}

.delivery-suptitle3 {
position: absolute;
width: 253px;
height: 22px;
left: 120px;
top: 1210px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;

color: #000000;
}

.delivery-desc3 {
position: absolute;
width: 664px;
height: 22px;
left: 120px;
top: 1261px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;

text-transform: uppercase;

color: #000000;
}





.form-subtitle{
position: absolute;
width: 371px;
height: 40px;
left: 121px;
top: 1346px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 40px;

color: #000000;
}

.form-suptitle{
position: absolute;
width: 458px;
height: 44px;
left: 122px;
top: 1403px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;

color: #000000;
}

.rectangle-desc{
position: absolute;
width: 59px;
height: 22px;
left: 143px;
top: 1473px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;

color: #000000;
}

.rectangle-desc2{
position: absolute;
width: 66px;
height: 22px;
left: 143px;
top: 1527px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;

color: #000000;
}


.subtitle-button{
position: absolute;
width: 112px;
height: 22px;
left: 144px;
top: 1589px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;

color: #000000;
}

.desc-button{
position: absolute;
width: 212px;
height: 30px;
left: 301px;
top: 1585px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;

color: #AFAFAF;
}

.colortext{
color: #000000;
}
